<h1> Not Instagram. </h1>

<div id="usersection">
Your Images:
<% if @posts.any? %>

	<% @posts.each do |post| %>

		<ul>
		<li><%= post.title %></li>
		<li>posted by <%= post.user.email %></li>
		<li><%= image_tag post.picture.url(:medium), class: 'uploaded-pic' %></li>
		<li><%= post.description %></li>

		<% if post.user == current_user %>
			<li><%= link_to 'Delete', post_path(post), method: :delete %></li>
		<% end %>
		</ul>

	<% end %>

<% else %>
	No posts yet!
<% end %>

<input type="submit" value="New Post" 
    onclick="window.location='/posts/new';" />
</div>

<div id="followsection">

	<ul><div class="followeduser">
		Placeholder
	</div>
	<div class="followeduser">
		Placeholder
	</div></ul>
</div>